<!DOCTYPE html>
<html>
    <head>
        <title>Morse Translator</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    
    <div>
        <h1>Morse Translator</h1>
    </div>
    
    
    <div>
        <ul>
            <li><a href="/english-to-morse">English to Morse</a></li>
            <li><a href="/morse-to-english">Morse to English</a></li>
            <li><a href="/morse-key-guide">Morse Key Guide</a></li>
        </ul>
    </div>
    
    <body>