<% include ./partials/header %>

<div class="howToUse">
    <h4>How To Use</h4>
    <p>
        <span>For English to Morse: </span>Use letters and numbers from the English alphabet. Separate each word with a single space.
    </p>
    <p>
        <span>For Morse to English: </span>Use dots ('.') and dashes ('-') to represent letters and numbers. 
Separate each word with a forward-slash ('/').
    </p>
</div>

<div>
    <form action="/english-to-morse" method="POST">
        <textarea name="user_input" placeholder="Enter English or Morse here:"></textarea>
        <button>Translate</button>
    </form>
</div>


<div class="morseKeyGuide">
    <h4>Morse Key Guide</h4>
    <p>
        <% keyGuide.forEach(function(element){ %>
              <div><%=element%></div>
        <% }); %>
    </p>
</div>

<% include ./partials/footer %>
