<% include ./partials/header %>
<!--<div>-->
<!--    <h1>Morse Translator</h1>-->
<!--</div>-->
<h4 class="center">English to Morse</h4>

<!--<div class="center-form">-->
<div>
    <form action="/english-to-morse" method="POST">
        <!--<input type="text", name="user_input", placeholder="Enter Morse here:">-->
        <textarea name="user_input" placeholder="Enter English here:"></textarea>
        <button>Translate</button>
    </form>
</div>

<% include ./partials/footer %>
