<% include ./partials/header %>

<h4 class="center">English/Morse Convertor</h4>


<div>
    <form action="/english-to-morse" method="POST">
        <textarea name="user_input" placeholder="Enter English or Morse here:"></textarea>
        <button>Translate</button>
    </form>
</div>

<div style="padding:40px">
    <h4>Morse Key Guide</h4>
    <p>
        <%=keyGuide%>
    </p>
</div>

<% include ./partials/footer %>
