<% include ./partials/header %>

<h4 class="center">English/Morse Convertor</h4>


<div>
    <form action="/english-to-morse" method="POST">
        <textarea name="user_input" placeholder="Enter English or Morse here:"></textarea>
        <button>Translate</button>
    </form>
</div>


<div class="morseKeyGuide">
    <h4>Morse Key Guide</h4>
    <p>
        <% keyGuide.forEach(function(element){ %>
              <div><%=element%></div>
        <% }); %>
    </p>
</div>

<% include ./partials/footer %>
