<% include ./partials/header %>

<h4 class="center">Morse to English</h4>

<div>
    <form action="/morse-to-english" method="POST">
        <textarea name="user_input" placeholder="Enter Morse here:"></textarea>
        <button>Translate</button>
    </form>
</div>

<% include ./partials/footer %>
