<%include ./partials/header.ejs%>
<h4 class="center">Result</h4>

<div>
    <div class="middle">
        <h4><%=result%></h4>
    </div>
</div>


<a class="back" href="/english-to-morse">Go back</a>
<%include ./partials/footer.ejs%>