<%include ./partials/header.ejs%>
<h1>Morse Converter: Result</h1>

<div class="middle">
    <h4><%=result%></h4>
</div>

<a class="back" href="/morse-converter">Go back</a>
<%include ./partials/footer.ejs%>