

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #F4F2F3;
}

h1 {
    text-align: center;
    letter-spacing: .2rem;
    background: #E0DADB;
    margin: 0;
    padding: 10px;

}

.spacing {
    padding-top: 10px
}

textarea {
    display: block;
    resize: vertical;
    width: 300px;
    min-height: 100px;
    margin: 25px auto 10px;
}

div .middle{
    display: block;
    width: 300px;
    min-height: 100px;
    margin: 10px auto 20px;
    background: white;
    border: 4px double #EA526F;
}

.center{
    margin-top: 35px;
    text-align: center;
    color: crimson;
}

div .middle h4 {
    margin: 0;
    padding: 4px 10px;
}

.back{
    display: block;
    width: 66px;
    margin: 0 auto;
}

form button {
    display: block;
    width: 306px;
    margin: 0 auto;
    border: none;
    background: #EA526F;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
    cursor: pointer;
    opacity: 0.85;
}

form button:hover {
    opacity: 1;
}
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 33.33%;
    text-align: center;
}

li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    text-decoration: underline crimson;
}
